<div class="container">
    <div class="pregunta">
        <h1>
            ¿Cómo se ha formado Neurotest?
        </h1>
    </div>

    <div class="info-1">
        <p>Neurotest ha sido creada por dos programadores Jaime y Laureana para su TFG.<br> Esta aplicación está pensada
            para que los especialistas en neuropsicología puedan acceder<br> rápidamente mediante el registro de unos
            datos
            de paciente a un test, donde podrán hacer sus evaluaciones.</p>

    </div>
    <div class="preguntados">
        <h1>
            ¿Cómo funciona Neurotest?
        </h1>
    </div>
    <div class="info-2">
        <p>Para usar este repositorio no necesitas más que meter los datos que te interesen en el formulario<br> que
            tienes
            disponible en el apartado <strong>Test</strong> y tendrás disponibles los test que necesites.</p>
    </div>

</div>