<div class="container">
  <h1>Formulario neuropsicología</h1>
  <form [formGroup]="test" id="formularioNeuro" novalidate class="form" action="#" method="POST">
    <label for="tiempoSesion">Tiempo disponible para la sesión (en minutos):</label>
    <input type="number" formControlName="tiempoSesion" name="tiempoSesion" required>

    <label for="nivelEducativo">Nivel educativo:</label>
    <select name="nivelEducativo" formControlName="nivelEducativo" id="nivelEducativo" required>
      <option value="1">Primaria (12 años de educación o menos)</option>
      <option value="2">Secundaria (entre 12 y 16 años de educación)</option>
      <option value="3">Superior (más de 16 años de educación)</option>
    </select><br><br>

    <label for="edadPaciente">Edad del paciente:</label>
    <input type="number" formControlName="edadPaciente" id="edadPaciente" name="edadPaciente" required><br><br>
    <br>
    <button class="btn btn-exito" (click)="enviar()">Enviar</button>

  </form>

  <h2>Pruebas recomendadas:</h2>

  <table>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
        <tr>
          <td>Test D2</td>
          <td>Symbol-Digit Modalities Test (SDMT)</td>
        </tr>
        <tr>
           <td>Tarea de cancelación de elementos visuales. Evalúa capacidad de concentración mediante velocidad y precisión.</td>
          <td>El objetivo es sustituir una serie de símbolos en dígitos a partir de una clave dada. La duración permite evaluar la pérdida de rendimiento en el tiempo.</td>
        </tr>
  </table>
</div>
