<div class="container">     
      <h1>Formulario neuropsicología</h1>
      <form [formGroup]="test" id="formularioNeuro" novalidate class="form" action="#" method="POST">
          <label for="tiempoSesion">Tiempo disponible para la sesión (en minutos):</label>
          <input type="number" formControlName="tiempoSesion" name="tiempoSesion" required>

          <label for="nivelEducativo">Nivel educativo:</label>
          <select name="nivelEducativo" formControlName="nivelEducativo" id="nivelEducativo" required>
              <option value="1">Primaria (12 años de educación o menos)</option>
              <option value="2">Secundaria (entre 12 y 16 años de educación)</option>
              <option value="3">Superior (más de 16 años de educación)</option>
          </select><br><br>
<!-- 
          <fieldset>
              <legend>Regiones encefálicas con evidencia de daño (múltiple selección)</legend>
              <input type="checkbox" formControlName="regiones" id="cortezaPrefrontal" name="regiones[]" value="Corteza Prefrontal">
              <label for="cortezaPrefrontal">Corteza Prefrontal</label><br>

              <input type="checkbox" id="cortezaSupraOrbital" name="regiones[]" value="Corteza Supraorbital">
              <label for="cortezaSupraOrbital">Corteza Supraorbital</label><br>
         </fieldset><br> -->

          <label for="edadPaciente">Edad del paciente:</label>
          <input type="number" formControlName="edadPaciente" id="edadPaciente" name="edadPaciente" required><br><br>
          <br>
          <button class="btn btn-exito" (click)="enviar()">Enviar</button>
         <p>Prueba: hola</p>
          <p>
           
        </p>
      </form> 
    </div> 
