<div class="container">
    <h2>¿Qué es NeuroTest?</h2>
    <p>NeuroTest es un repositorio de pruebas de evaluación neuropsicológicas. Los profesionales de la Neuropsicología pueden utilizar
        esta web para obtener una lista de tests apropiados para evaluar a un paciente.
        La evaluación neuropsicológica es un proceso complejo y compuesto por fases. En ningún caso esta web sustituye la labor de un profesional:
        simplemente es una herramienta que facilita la navegación entre las muchas pruebas que se pueden utilizar.
    </p>
</div>